{% if attributes | length > 0 %}
  <div class="col-md-4 table-responsive">
    <table class="table-striped table table-bordered table-hover table-condensed">
      <thead>
        <tr><th colspan="2" class="bg-primary text-center">Uncategorized</th></tr>
        <tr class="bg-info"><th>Attribute</th><th>Value</th></tr>
      </thead>
      <tbody id="attributes-table">
        {% for attribute, value in attributes %}
          {% if value is not iterable %}
          <tr>
            <td>{{ attribute }}</td>
            <td>{{ value }}</td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% for category, category_attributes in attributes %}
    {% if category_attributes is iterable %}
      <div class="col-md-4 table-responsive">
        <table class="table-striped table table-bordered table-hover table-condensed">
          <thead>
            <tr><th colspan="2" class="bg-primary text-center">{{ category }}</th></tr>
            <tr class="bg-info"><th>Attribute</th><th>Value</th></tr>
          </thead>
          <tbody id="attributes-table">
            {% for attribute, value in category_attributes %}
              {% if value is not iterable %}
              <tr>
                <td>{{ attribute }}</td>
                <td>{{ value }}</td>
              </tr>
              {% else %}
                <tr>
                  <td>{{ attribute }}</td>
                  <td>{{ value | json_encode }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
