{% if is_granted('ROLE_USER') %}
  <li class="dropdown {{ navbar.tasks|default('') }} {{ navbar.task_templates|default('') }} {{ navbar.task_workflows|default('') }} {{ navbar.task_types|default('') }}">
    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tasks <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="{{ navbar.tasks|default('') }}"><a href="/ui/tasks">Tasks</a></li>
      <li class="{{ navbar.task_templates|default('') }}"><a href="/ui/task-templates">Task templates</a></li>
      <li class="{{ navbar.task_types|default('') }}"><a href="/ui/task-types">Task types</a></li>
      <li class="{{ navbar.task_workflows|default('') }}"><a href="/ui/task-workflows">Task workflows</a></li>
    </ul>
  </li>
{% endif %}
