{% extends "base.html.twig" %}

{% block title %}Task workflow {{ taskWorkflow.identifier }}{% endblock %}

{% block body %}

Statuses:
<ul>
{% for status, attrs in taskWorkflow.workflow.statuses %}
	<li>{{ attrs.status }}
		<ul>
			<li>Constraints: {{ attrs.constraints | json_encode }}</li>
			<li>Next statuses: {{ attrs.nextStatuses | json_encode }}</li>
			<li>Is done: {{ attrs.isDone ? 'Yes': 'No' }}</li>
			<li>Is default: {{ attrs.isDefault ? 'Yes': 'No' }}</li>
		</ul>
	</li>
{% endfor %}
</ul>

{% endblock %}
