{% extends "base.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">Assets</div>
  <div class="panel-body">
    <ul>
      <li>Assets: {{ stats.countAssets }}
      <li>Reconcilied assets: {{ stats.countAssetsReconcilied }}
    </li>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Instances</div>
  <div class="panel-body">
    <ul>
      <li>Instances: {{ stats.countInstances }}
      <li>Reconcilied instances: {{ stats.countInstancesReconcilied }}
      <li>Validated: {{ stats.countInstancesValidated }}
      <li>Checks: {{ stats.countInstancesTotalChecks }}
      <li>Errors: {{ stats.countInstancesTotalErrors }} 
    </ul> 
  </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}