{% extends "base.html.twig" %}

{% block title %}Instance {{ instance.identifier }}{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-12">
      <h2>
        {{ instance.kind.name | default('') }} {{ instance.identifier }} {{ instance.friendlyName | default('') }}
        {% if instance.isConform is same as(false) %}
          <span class="glyphicon glyphicon-exclamation-sign text-danger" data-toogle="tooltip" title="Not conform"></span>
        {% endif %}
      </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Attributes</h3>
    {% include 'components/attributes.html.twig' with { 'attributes': instance.attributes, 'conformities': instance.conformities } %}
  </div>
  <div class="col-md-12">
    Checked: {{ instance.conformities.date }}
  </div>
</div>

{# <div class="row">
  <div class="col-md-12">
    <h3>Labels</h3>
    {% include 'components/labels.html.twig' with { 'labels': instance.labels } %}
  </div>
</div> #}

{# <div class="row">
  <div class="col-md-12">
    <h3>Relations</h3>
    {% include 'components/relations.html.twig' with { 'relations': instance.fromRelations } %}
  </div>
</div> #}

<div class="row">
  <div class="col-md-12 table-responsive">
    <h3>Asset</h3>
    {% include 'components/asset.html.twig' with { 'asset': instance.asset } %}

  </div>
</div>

{# <div class="row">
  <div class="col-md-12">
    <h3>Audits</h3>
    {% include 'components/audits.html.twig' with { 'audits': instance.instanceAudits } %}
  </div>
</div> #}

{% endblock %}

{% block js %}

<script>

$(document).ready(function () {
  $('.renderBool').each(function() {
    let val = $(this).html();
    $(this).html(renderBool(val === '1'));
  });
  
});

</script>

{% endblock %}