{% extends "base.html.twig" %}

{% block title %}Instance {{ instance.identifier }}{% endblock %}

{% block body %}

<div class="row">
	<div class="col-md-12">
	    <h2>{{ instance.identifier }}</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	    <h3>Attributes</h3>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    {% include 'components/attributes.html.twig' with { 'attributes': instance.attributes } %}
  </div>
</div>

{# <div class="row">
	<div class="col-md-12">
	    <h3>Labels</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	    <table class="table">
	      <thead><tr><th>Label</th><th>Value</th></tr></thead>
	      <tbody id="instance-table">
	      	{% for label, value in instance.labels %}
	      		<tr>
	      			<td>{{ label }}</td>
	      			<td>{{ value }}</td>
	      		</tr>
	      	{% endfor %}
	      </tbody>
	    </table>
	</div>
</div> #}

{# <div class="row">
	<div class="col-md-12">
	    <h3>Relations</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	    
	    <table class="table">
	      <thead><tr><th>ID</th><th>Kind</th><th>Target</th></tr></thead>
	      <tbody id="instance-table">
	      	{% for relation in instance.fromRelations %}
	      		<tr>
	      			<td>{{ relation.id }}</td>
	      			<td>{{ relation.kind }}</td>
	      			<td>{{ relation.toAsset.identifier }}</td>
	      		</tr>
	      	{% endfor %}
	      </tbody>
	    </table>
	</div>
</div> #}

{% if instance.asset %}

<div class="row">
	<div class="col-md-12">
	    <h3>Asset</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
	    
	    <table class="table">
	      <thead><tr><th>ID</th><th>Identifier</th><th>Conformity</th></tr></thead>
	      <tbody id="instance-table">
      		<tr>
      			<td>{{ instance.asset.id }}</td>
      			<td>{{ instance.asset.identifier }}</td>
      			<td class="renderBool">{{ instance.conformity }}</td>
      		</tr>
	      </tbody>
	    </table>
	</div>
</div>

{% endif %}

{# <div class="row">
	<div class="col-md-12">
	    <h3>Audits</h3>
	    <table class="table">
	      <thead><tr><th>Datetime</th><th>Actor</th><th>Action</th><th>Data</th></tr></thead>
	      <tbody id="audit-table">
	      	{% for audit in asset.assetAudits %}
	      		<tr>
	      			<td>{{ audit.datetime }}</td>
	      			<td>{{ audit.actor }}</td>
	      			<td>{{ audit.action }}</td>
	      			<td>{{ audit.data }}</td>
	      		</tr>
	      	{% endfor %}
	      </tbody>
	    </table>
	</div>
</div> #}

{% endblock %}

{% block js %}

<script>

$(document).ready(function () {
  $('.renderBool').each(function() {
  	let val = $(this).html();
  	$(this).html(renderBool(val === '1'));
  });
  
});

</script>

{% endblock %}